.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__logo {
    display: block;
    width: 138px;
}

.header__logo-image {
    width: 100%;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid;
}

.header__link_active, .header__links-list-item_no-bullit .header__link {
    border-bottom: none;
    list-style-type: none;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 240px;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.contact__info {
    border-bottom: 1px solid;
    text-decoration: none;
}
.header__address {
    justify-self: end;
}

.contact__info-nowrap {
    white-space: nowrap;
}

/* секция cover*/

.cover {
    background-image: url("../images/cover.jpg");
    min-height: 757px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.overlay {
    position: absolute;
    opacity: 0.6;
    background: #000;
    width: auto;
    height: auto;
    inset: 0;
    z-index: -1;
}

.cover__title {
    padding: 165px 50px 0;
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    z-index: 1;
            
}

.aligned-text {
    display: block;
    margin-right: -30px
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
    padding-top: 20px;
}

.aligned-text_right {
    text-align: right;
    padding-top: 20px;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 42px;
}

.cover__description-text {
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    word-spacing: 20px;
}

.bet-button {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #FFF;
    width: 256px;
    height: 51px;
    margin-top: 63px;
}

/* секция lots */

.lots {
    padding: 180px 24px 120px;
}

.lots__heading {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 26px;
}

.lots__card-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 30px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    height: 100%;
    position: relative;
    z-index: 0;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-size: cover;
    background-position: center;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-size: cover;
    background-position: center;
}

.card__title {
    height: 100%;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
}

.card__text {
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.lots__look-more-link {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    margin-left: 40px;
}

/* секция about */

.about {
    padding: 0 24px 180px;
    display: grid;
    grid-template-columns: 334px 1fr;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin: 35px 47px;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 136px;
    margin-left: 27px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 100px;
    margin-left: 27px;
}

.about__text__paragraph {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
}
/* секция footer */

.footer {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 82px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.footer__address {
    justify-self: start;
}

.footer__contact__info {
    min-width: 260px;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-list-item {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: 1px solid;
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-self: end;
    gap: 48px;
}

.footer__social-link {
    display: block;
    width: 48px;
}

.footer__social-icon {
    width: 100%;
}